.card-description-weather{
    font-size: 16px;
    background-color: #1E213A;
    color: #ffffff;
    width: 100%;
    height: max-content;
    margin-top: 1em;
    padding: 1em 0 .5em 0; 
}
.wind-status-card{
    height: 11em;
}
.humidity-card{
    height: 11em;
}
.visibility-card{
    height: 10em;
}
.air-pressure-card{
    height: 10em;
}


.title-card{
    text-align: center;
    font-size: 1em;
    color: #E7E7EB;
}
.description-card{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.description-card .card-number{
    font-size: 4em;
}
.description-card .card-extention{
    font-size: 2em;
}


.wind-direction{
    height: 3.75em;
    padding-top: 1em;
}
.direction-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wind{
    padding: .5em;
    background-color: rgba(255, 255, 255, 0.3);
    color: #E7E7EB;
    text-decoration: none;
    width: 2em;
    height: 2em;
    font-size: 1em;
    border-radius: 50%;
    transform: rotate(-45deg);
    transition: transfomr, 1s;
}
.direction-container p{
    font-size: 20px;
    margin: 0 10px;
}


.percent-bar{
    width: 80%;
    margin: 0 auto;
}
.numbers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: #A09FB1
}
.bar{
    height: 2em;
}
.bar-container{
    width: 100%;
    height: .4em;
    border-radius: 25px;
    background-color: #E7E7EB;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.gradual-bar{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #FFEC65;
    transition: 1s;
}
.bar p{
    float: right;
    font-size: .8em;
    color: #E7E7EB;
}

@media (min-width: 800px){
    .card-description-weather{
        margin-top: 0;
        font-size: 13px;
    }
}