.section-rigth{
    background-color: #100E1D;
    width: 100%;
    height: fit-content;
}
@media (min-width: 1024px) {
    .section-rigth{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        height: 90vh;
    }
}
