.card-days-section{
    font-size: 16px;
    width: 100%;
    height: fit-content;
    padding-top: 2em;
}
.cards-days{
    margin: 0 auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-auto-rows: max-content;
    gap: 1em;
}
@media (min-width: 500px) {
    .cards-days{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}@media (min-width: 1024px) {
    .card-days-section{
        padding-top: 0;
    }
}