.nav-select-section{
    width: 100%;
    height: 10%;
    padding: 10px 13px;
}
.select-container{
    width: 100%;
    height: 100%;
    border: 1px solid #616475;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
}
.option-selected{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #616475;
}
.show-options{
    min-height: fit-content;
    height: 200px;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}
.hide-options{
    height: 0px;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}
.options-container{
    width: 100%;
    position: absolute;
    top: 105%;
    left: 0;
    background-color: #100E1D;
    overflow-x: hidden;
    overflow-y: scroll;
}
.options-container::-webkit-scrollbar{
    width: 2px;
    background: transparent;
}
.options-container:hover::-webkit-scrollbar-thumb{
    width: 2px;
    background: #A09FB1;
}
.name-city{
color: #E7E7EB;
font-size: 16px;
}

.option{
    border: none;
    background-color: #100E1D;
    text-align: left;
    width: 100%;
    height: 46px;
    padding: 15px;
    color: #E7E7EB;
    transition: color, background-color, .5s ;
    -webkit-transition: color, background-color, .5s ;
    -moz-transition: color, background-color, .5s ;
    -ms-transition: color, background-color, .5s ;
    -o-transition: color, background-color, .5s ;
}
.name-city:hover{
    
    color: #100E1D;
    background-color: #616475;
}